@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

body {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  padding: 50px;
}

.app {
  display: table;
  margin: 100px auto;
  position: relative;
  width: 100%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 50px;
  border-radius: 10px;

  &__body {
    text-align: center;
    font-family: 'Amatic SC', cursive;

    &__pending, &__error {

      span {
        font-size: 40px;
        font-family: "Great Vibes", cursive;
      }
    }
  }
}

//Themes

.app {

  &--theme-blue {
    background: blue;
  }
}

//Media Queries
@media (max-width: 1024px) {

  .app {
    padding: 20px;
  }
}

@media (max-width: 1024px) {

  body {
    padding: 10px;
  }

  .app {
    margin-top: 0;
    padding: 20px;
  }
}
